

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{drug.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<p>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Drugs
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
<!--                    <form method="get">-->
<!--                        <div class="field has-addons">-->
<!--                            <div class="control is-expanded">-->
<!--                                <input class="input" type="text" name="drugname" placeholder="Enter Drug Name">-->
<!--                            </div>-->
<!--                            <div class="control">-->
<!--                                <button class="button is-info" type="submit" >-->
<!--                                    search-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </section>
<h2><a href = "{% url 'Drugprofile:drug' %}">consumer</a></h2>
<h2><a href = "{% url 'Drugprofile:professional' %}">professional</a></h2>



