<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{drug.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Drugs
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="get">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="drugname" placeholder="Enter Drug Name">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit" >
                                    search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% if drug %}
    <p><strong>{{ drug.name }}</strong>
        <br>
    <br><strong>Generic Name: </strong>{{drug.generic_name}}</p>
    <br><strong>Brand Name: </strong>{{drug.brand_name}}</p>
    <br>

    <br><strong>Dosage</strong><br>{{drug.dosage}}</p>
    <br>
       <br><strong>Usage</strong><br>{{drug.usage}}</p>
    <br>
    <br><strong>Contraindications to use</strong><br>{{drug.contraindications_to_use}}</p>
    <br>
    {% if  drug.sideeffects != drug.message%}
    <br><strong>Side Effects</strong><br>
    {% for i in drug.sideeffects %}
    {{ i }}<br>
    {% endfor %}</p>
    {% endif %}

    <br>
    <br><strong>Pregnancy</strong><br>
    {% for i in drug.pregnancy %}
    {{ i }}<br>
    {% endfor %}</p>

    <br>
    <br><strong>Warnings</strong><br>
    {% for i in drug.warning %}
    {{ i }}<br>
    {% endfor %}</p>
    <br>
     <br><strong>clinical pharmacology</strong><br>
    {% for i in drug.clinical_pharmacology %}
    {{ i }}<br>
    {% endfor %}</p>

    <br>
    {% if  drug.interaction != drug.message%}
    <br><strong>What other drugs will affect </strong><strong>{{drug.name}}</strong><br>
    {% for i in drug.interaction %}
    {{ i }}<br>
    {% endfor %}</p>
    {% endif %}

  {% endif %}