<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{drug.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Drugs
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="get">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="drugname" placeholder="Enter Drug Name">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit" >
                                    search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% if drug %}
<!--    <p><strong>{{ drug.name }}</strong>-->
<!--        <br>-->
<!--    <br><strong>Generic Name: </strong>{{drug.generic_name}}</p>-->
<!--    <br><strong>Brand Name: </strong>{{drug.brand_name}}</p>-->
<!--    <br>-->

<!--    <br><strong>Dosage</strong><br>{{drug.dosage}}</p>-->
<!--    <br>-->
<!--       <br><strong>Usage</strong><br>{{drug.usage}}</p>-->
<!--    <br>-->
<!--    <br><strong>Contraindications to use</strong><br>{{drug.contraindications_to_use}}</p>-->
<!--    <br>-->
<!--     <br><strong>Adverse Reactions/Side Effects </strong><br>-->
<!--    {% for i in drug.sideeffects %}-->
<!--    {{ i }}<br>-->
<!--    {% endfor %}</p>-->

<!--    -->

<!--    <br>-->
<!--    <br><strong>Pregnancy</strong><br>-->
<!--    {% for i in drug.pregnancy %}-->
<!--    {{ i }}<br>-->
<!--    {% endfor %}</p>-->

<!--    <br>-->
<!--    <br><strong>Warnings</strong><br>-->
<!--    {% for i in drug.warning %}-->
<!--    {{ i }}<br>-->
<!--    {% endfor %}</p>-->
<!--    <br>-->
<!--     <br><strong>clinical pharmacology</strong><br>-->
<!--    {% for i in drug.clinical_pharmacology %}-->
<!--    {{ i }}<br>-->
<!--    {% endfor %}</p>-->

<!--    <br>-->
<!--    <br><strong>What other drugs will affect </strong><strong>{{drug.name}}</strong><br>-->
<!--    {% for i in drug.interaction %}-->
<!--    {{ i }}<br>-->
<!--    {% endfor %}</p>-->
<!--    <br>-->


   <p><strong>{{ drug.name }}</strong>
        <br>
    <br><strong>Generic Name: </strong>{{drug.generic_name}}</p>
    <br><strong>Brand_name:</strong><br>{{drug.Brand_name}}</p>
    <br>

{% if drug.description != drug.message %}
    <br><strong>Description: </strong><br>{{drug.description}}</p>
    <br>
{% endif %}

{% if drug.purpose != drug.message %}
 <br><strong>Purpose: </strong><br>{{drug.purpose}}</p>
    <br>
{% endif %}



<br><strong>Usage</strong><br>{{drug.usage}}</p>
    <br>

    <br><strong>Dosage </strong><br>{{drug.dosage}}<br>
{% if drug.contraindications_to_use != drug.message %}
    <br><strong>Contraindications to use</strong><br>{{drug.contraindications_to_use}}</p>
<br>
{% endif %}
{% if drug.stop_use != drug.message %}
    <br><strong>Stop Use</strong><br>{{drug.stop_use}}</p>
<br>
{% endif %}
{% if drug.price %}
 <br><strong>Price </strong><br>{{drug.price}}</p>
    <br>
{% endif %}
{% if  drug.sideeffects != drug.message %}
<br><strong>Adverse Reactions/Side Effects</strong><br>
    {% for i in drug.sideeffects %}
    {{ i }}<br>
    {% endfor %}</p>
{% endif %}
<br>
    {% if  drug.overdosage != drug.message%}
     <br><strong>Overdosage</strong><br>{{drug.overdosage}}</p>
    <br>
{% endif %}
<br>
{% if  drug.pregnancy != drug.message %}
 <br><strong>Pregnancy</strong><br>
    {% for i in drug.pregnancy %}
    {{ i }}<br>
    {% endfor %}</p>
{% endif %}
<br>
    {% if  drug.how_supplied != drug.message %}
    <br><strong>How Supplied</strong><br>{{drug.how_supplied}}</p>
    <br>
{% endif %}


    <br>
    <br><strong>Warnings</strong><br>
    {% for i in drug.warning %}
      {{ i }}<br>
    {% endfor %}</p>
    <br>
{% if  drug.clinical_pharmacology != drug.message %}
     <br><strong>clinical pharmacology</strong><br>
    {% for i in drug.clinical_pharmacology %}
    {{ i }}<br>
    {% endfor %}</p>
{% endif %}


    <br>
{% if  drug.interaction != drug.message%}
    <br><strong>What other drugs will affect </strong><strong>{{drug.name}}</strong><br>
    {% for i in drug.interaction %}
    {{ i }}<br>
    {% endfor %}</p>
{% endif %}




<!--{% if  drug.information_for_patients != drug.message%}-->
    <br><strong>Information for patients</strong><br>
      {% for i in drug.information_for_patients %}
    {{ i }}<br>
    {% endfor %}</p>
<!--    {% endif %}-->
    <br>


  {% endif %}